azure.identity
azure.mgmt.resource
azure.mgmt.storage
azure.mgmt.search
azure.mgmt.web

azure.mgmt.network
azure.mgmt.keyvault
azure.mgmt.sql
azure.mgmt.resourcegraph

azure-mgmt-storage
azure-mgmt-web 
azure-storage-blob
azure-mgmt-cognitiveservices

azure-functions
azure-search-documents
azure-core
azure-data-tables

openai

fastapi[all]
uvicorn[standard]
gunicorn

strawberry-graphql

python-multipart
aiohttp
requests
pyjwt[crypto]